<header>
<div class="navbar navbar-expand-lg navbar-light justify-content-start">
	<nav class="navbar navbar-expand-sm navbar-light" >
		<a href="{{@site.url}}" class="navbar-brand headerurl">{{@site.title}}:~$<span class="blinking-cursor">|</span></a>
	</nav>
	</div>
</div>
</header>



