<header>
	<nav class="navbar navbar-expand-sm navbar-light" >
		<a href="{{@site.url}}" class="navbar-brand headerurl">{{@site.title}}:~$<span class="blinking-cursor">|</span></a>
	</nav>
</header>



