<div class="theme-name-footer">
  <p>Zeali {{t "by"}} <a href="https://pixelateddeveloper.com/" title="{{t "Go to"}} PixelatedDeveloper" target="_blank" rel="noopener noreferrer">PixelatedDeveloper</a></p>
</div>


