{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row error-row">
  <div class="text-center">
    <p><span class="start-mark">{{@site.title}}:~$</span> {{t "No such file or directory"}}</p>
  </div>
</div>