{{#primary_author}}
<section class="author-profile max-content-width">
<div class="row">
    <div class="col-12 author-bio-text">
      {{#if bio}}
        <b>{{name}}</b> {{bio}}
      {{else}}
        {{t "Whoops...that's not looking good. People have no idea who you are?!"}}
      {{/if}}
    </div>
</div>
</section>
{{/primary_author}}