<div class="row">
  {{#get "posts" limit="all"}}
  {{#foreach posts}}
  <div class="card">
    <div class="col">
      <div class="card-block">
        <p class="card-title"><a href="{{url}}" title="{{title}}">{{title}}</a></p>
      </div>
    </div>
  </div>
  {{/foreach}}
  {{/get}}
</div>